.logo h3 {
  font-weight: bold;
}

.search_bar .input-group-text {
  border-left: none;
  background: none;
  border: none;
}
#search_input {
  border-radius: 10px;
}
.search_bar{
  width: 99%;
  height: 50px;
}

.sidebar {
  background: white;
  border-radius: 15px;
  padding: 20px;
}
.post {
  background: white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}
.user-list {
  background: white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}
.user-list img {
  border-radius: 10px;
}
#filter_icon{
  z-index: 1;
  margin-left:-100px ;
  cursor: pointer;
}
#search_icon{
  z-index: 1;
  margin-right: -35px;
  cursor: pointer;
}
.body_elements{
  padding-top: 100px;
}
main{
  height: 600px;
}
.card-body{
  height: 200px;
  border-bottom: none;
  background:linear-gradient(to top,rgb(14, 13, 13),rgba(255, 255, 255, 0.21),transparent);
}
#card1{
  color: white;
  background-image: url(../public/images/img1.png);
}
#card2{
  color: white;
  background-image: url(../public/images/img2.png);
}
#card3{
  color: white;
  background-image: url(../public/images/img3.png);
}
#card4{
  color: white;
  background-image: url(../public/images/img4.png);
}
.log-out{
  margin-top: 200px;
}
